/* HELPERS */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.remove-list >* {
    list-style-type: none;
}

.pointer{
    pointer-events: auto;
}

.no-pointer{
    pointer-events: none;
}

.full {
    width: 100%;
}

.hide {
    display: none;
}

.main-header .main-nav.open{
    transform: translateY(40%);
}

button , .btn {
    background-color: transparent;
    font-family: lato-bold;
    font-size: 1em;
    line-height: 1.25em;
    cursor: pointer;
    padding: 0.7em 1.2em;
    margin: 20px auto;
    color: var(--clr5);
    border: var(--clr5) 2px solid;
}

.btn-round{
    border-radius: 2em;
}

.fa {
    font-family: fa;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}

.fa.behance::before {
    content: "\f1b4";
}

.fa.pinterest::before {
    content: "\f231";
}