@import url("helpers.css");
@import url("min0.css") (min-width: 0px);
@import url("min690.css") (min-width: 690px);
@import url("min1100.css") (min-width: 1100px);


:root {
    /* pallete */
    --clr0: #58c93a;
    --clr1: #292929;
    --clr2: #4f4e4e;
    --clr3: #606060;
    --clr4: #818181;
    --clr5: #c2c2c2;
    --clr6: #e1e0e0;
    --clr7: #e5e5e5;
    --clr8: #a6a6a6;
    --clr9: #f8f8f8;
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-reg;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/Euro/eurof35.ttf);
}

@font-face {
    font-family: fa;
    src: url(../fonts/fa/fa-brands-400.ttf);
}

/* BASICS */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-family: euro;
    font-size: 2.5em;
}

h2 ,h3{
    font-family: lato-bold;
    font-size: 1.75em;
    line-height: 1.875rem;
    letter-spacing: 0.02em;
    color: var(--clr2);
    margin: 0 0 1rem;
}

p {
    font-family: lato-reg;
    color: var(--clr3);
    line-height: 1.25em;
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
}

.logo span {
    color: var(--clr0);
}

/* LAYOUTS */

.main-header {
    position: fixed;
    z-index: 3;
    background-color: var(--clr1);
}

.main-header>* {
    color: white;
}

/* COMPONENTS */

.next-btn::after {
    content: " →";
}

.prev-btn::before {
    content: "← ";
}

.btn-arrow {
    position: relative;
    transition: padding .4s;
}

.btn-arrow:hover {
    padding-inline-end: 2.6em;
}

.btn-arrow:hover::after {
    content: "→";
    position: absolute;
    right: 0.8em;
}

.black-screen {
    position: fixed;
    pointer-events: none;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.905);
    transition: .6s;
    opacity: 0;
}